.card {
    position: relative;
    display: block;
    width: 330px;
    /* margin: 20px; */
}

.card a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.card h2 {
    font-size: 30px;
    font-family: var(--fontHead);
    text-align: center;
}

.card .imgHolder {
    margin: auto;
    width: 100%;
    height: 100%;
}

.card p {
    font-family: var(--fontBody);
}

.card_price {
    font-weight: bold;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}